<!--
<md-tabs md-border-bottom flex layout-fill
                  controller="ContentController as content">

  <md-tab ng-repeat="tab in content.contentTabs">
    <md-tab-label>{{ tab.label }}</md-tab-label>
    <md-tab-body>
      <div class="gp-tab-content" layout-padding ng-include="tab.content"></div>
    </md-tab-body>
  </md-tab>

</md-tabs>
-->

<md-tabs md-border-bottom flex layout-fill>

  <md-tab>
    <md-tab-label>Home</md-tab-label>
    <md-tab-body>
      <div class="gp-tab-content" layout-padding>
        <h3>Welcome!</h3>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab>
    <md-tab-label>IRC</md-tab-label>
    <md-tab-body>
      <div class="gp-tab-content">
        <iframe class="webchat" flex src="https://kiwiirc.com/client/irc.snoonet.org/?nick=poppyGP-|#f1"></iframe>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab>
    <md-tab-label>Reddit</md-tab-label>
    <md-tab-body>
      <div class="gp-tab-content" layout-padding>
      </div>
    </md-tab-body>

  </md-tab>


</md-tabs>
